title: Example sigma rule for process creation
id: 1fe9d8b5-2cce-4bbd-9566-7eb9841bdb3a
status: experimental
description: Detects a process creation with a specific image
logsource:
    category: process_creation
    product: windows
detection:
    selection:
        Image|endswith: mimikatz.exe
    condition: selection
level: critical
