# This file filters log messages for Aurora Agent.
# Each line should contain a single regular expression. Empty lines or lines that start with # are ignored.
#
# If a log entry (formatted with the default formatter, like in the log file or the command line), matches any regular
# expression, that log entry will be suppressed.

# Example: Suppress matches on executables from a specific Program folder
# IMAGE: C:\\Program Files\\my legitimate anomaly\\