# This file filters events received by Aurora Agent based on the originating process's image.
# Each line should contain a single regular expression. Empty lines or lines that start with # are ignored.
#
# If a process's image matches any regular expression, all events originating from it will be discarded.

# Example: Suppress all events from an AV installation folder
# ^C:\\Program Files\\My Antivirus\\

