#
# AURORA CUSTOM NAMED PIPES
#
# Important: Activate this template by renaming it from .txt.template to .txt
#
# FORMAT -----------------------------------------------------------------------
#
# NamedPipeRegex;Comment
#
# EXAMPLES ---------------------------------------------------------------------
#
# ^postex_.*;CobaltStrike named pipe
